* {
    margin: 0;
    padding: 0;
}


.titulo_principal {
    text-align: center;
    font-size: 35px;
    width: 100%;
    margin-bottom: 15px;
    
}


/*encabezado*/


header {
    background-color: black;
}

.header_navegavcion {
    display: flex;
    text-transform: uppercase;
    justify-content: flex-end;
    align-items: center;
    
}

.navegacion a {
    color: white;
    text-decoration: none;
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
}

.navegacion a:hover {
    cursor: pointer;
    color: gray;
}

@media (max-width: 375px) {
 

    .logo img {
        width: 356px;
        height: 84px;
    }

    .navegacion {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .navegacion a {
        margin: 8px 0;
    }
    
}

@media (min-width: 376px) and (max-width: 1024px){
 
    .logo img {
        width: 334px;
        height: 79px;
    }
   
    .navegacion {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}



/*Pie de Pagina*/

footer {
    background-color: black;
    padding: 10px 0;
}

.footer_derechos {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: white;
}

.footer_derechos p {
    margin-bottom: 0;
    padding-left: 15px;
    font-size: 22px;
}


.app {
    display: flex;
    justify-content: center;
    align-items: center;
}

.app p {
    margin-bottom: 0;
    color: white;
    font-size: 22px;
    background-color: gray;
    padding: 5px 15px;
    border-radius: 50px;
}

.iconos-red {
    display: flex;
    justify-content: flex-end;
}

.iconos-red svg {
    padding: 5px;
}

@media (max-width: 375px) {
    .footer_derechos {
        flex-direction: column;
    }

    .footer_derechos p {
        margin: 9px 0;
    }

    .app p {
        margin: 9px 0;
    }

    .iconos-red {
        display: flex;
        justify-content: center;
    }

    .iconos-red svg {
        margin: 10px;
    }

}

@media (min-width: 376px) and (max-width: 1024px){

    .footer_derechos {
        flex-direction: column;
    }
    
    .app p {
        font-size: 21px;
    }  
    
 }

 @media (min-width: 1025px) {
    .app {
        visibility: hidden;
    }
 }



 /*Contenido Index*/ 

 
.principal {
    background-image: url(img/principal.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    height: 85vh;
}

.titulo {
    margin: 30px 0 0 40px;
    color: rgb(58, 50, 50);
}


@media (max-width: 375px) {
 
.principal {
    height: 46vh;
}

.titulo {
    margin-bottom: 30px 0 0 0;
    text-align: center;

}

    
}

@media (min-width: 376px) and (max-width: 1024px){

   .principal {
        height: 80vh;
   }

 }



 /*Contenido productos*/

 .contenedor-pro {
     display: flex;
     justify-content: space-around;
 }

 .tarjeta {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px solid gainsboro;
    border-radius: 10px;
    font-size: 20px;
    width: 400px;
    padding: 17px 0;
    margin: 15px 0;

}

.tarjeta:hover {
    cursor: pointer;
    border: 3px solid rgb(97, 171, 194);
    transition: 0.5s;
}


.tarjeta_imagen {
    border-radius: 20px;
}

.tarjeta_titulo {
    text-align: center;
    color: rgb(46, 44, 44);
   
}

.tarjeta_descripcion {
    text-align: center;
    width: 400px;
}

@media (max-width: 375px) {

    .tarjeta {
       
        width: 330px;
        padding: 13px 0;
        margin: 10px 0;
    
    }

    img {
        width: 280px;
        height: 280px;
    }

    .tarjeta_descripcion {
        width: 300px;
    }

 
}


@media (min-width: 376px) and (max-width: 1024px){

    .tarjeta {
       
        width: 360px;
    
    }

    img {
        width: 300px;
        height: 300px;
    }

    .tarjeta_descripcion {
        width: 320px;
    }
 
  }


  /*Contenido Nosotros*/

  .imagen-his {
      display: flex;
      justify-content: center;
  }
  

  .historia {
      padding: 0 30px;
      text-align: justify;
  }

  .historia :nth-child(1) {
      font-size: 35px;
      font-weight: bold;
      text-align: center;
      color: rgb(71, 69, 69);
  }

  .historia :nth-child(2) {
      font-size: 20px;
  }


  .video-ins {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 10px 0;
  }

  .video-ins p {
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    color: rgb(71, 69, 69); 
  }

  .cont-video {
      margin-top: 20px;
  }

  @media (max-width: 375px) {
    .video-ins iframe {
        width: 336px;
        height: 189px;
    }  
      
  }


  /*Contenido Contacto*/

  .principal-contacto {
    background-image: url(img/contacto-b.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    height: 100%
}

.titulo-tabla {
    background-color: rgba(65, 62, 62, 90%);
    text-align: center;
    font-size: 30px;
    width: 100%;
    margin: 10px 0;
    color: white;
    border-radius: 8px;
}




